<app-carousel-home></app-carousel-home>




<div class="container articles">

  <div class="jumbotron">
  <article
    *ngFor="let article of articles" >
      <h2 class="display-4">{{ article.title }} {{article.id}}</h2>

      <figure>

        <a [routerLink]="['/article', article._id]">
          
          <hr class="my-4">
          <img src="https://images.squarespace-cdn.com/content/v1/5a7794a680bd5e8c5c414187/1551715187301-EWX53SRLVVK2BN6DJV7S/ke17ZwdGBToddI8pDm48kA_SSaoz4elkj-HsZd8gX3Z7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UWPwZyNcweDIvdeL5kotwkIXjs9g0WibSO_cU-Ijy4Pwg6poS-6WGGnXqDacZer4yQ/IMG_9177.jpg?format=1500w" alt="concert">
          <hr class="my-4">
        </a>

      </figure>
      <p class="display-5">{{article.contains}}
          
      <p>
          <a  class="btn btn-dark btn-lg"
              [routerLink]="['/article', article._id]"
              role="button"
          > Lire la suite ...</a>
      </p>
      <br>
      <br>
      <br>
      <br>
      <br>
      


  </article>


</div>